/* TAILWIND */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* TAILWIND */

body,html,#root{
  width:100%;
  height:100%;
}

.home-gradient{
  background: rgb(32,76,91);
background: -moz-linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
background: -webkit-linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
background: linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#204c5b",endColorstr="#1f2c30",GradientType=1);
}

.file-home-gradient:hover{
  background: rgb(32,76,91);
background: -moz-linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
background: -webkit-linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
background: linear-gradient(187deg, rgba(32,76,91,1) 0%, rgba(31,44,48,1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#204c5b",endColorstr="#1f2c30",GradientType=1);
color:white;
border:1px solid white;
}

.file-home-gradient:active{
  background:white;
  color:black;
}

input[type="file"]::file-selector-button {
  background-color:transparent;
  border: 1px solid white;
  color:white;
  cursor:pointer;
  border-radius: 5px;
}

input[type="file"]::file-selector-button:hover {
background-color:white;
color:rgb(32,76,91);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

